<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <title>Page Not Found</title>
    <link rel="stylesheet" href="css/404.css">
</head>

<body>
    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <div class="mb-4">
                <img src="path/to/your/404-image.png" alt="404 Image" class="img-fluid">
            </div>
            <h1 class="display-3 text-danger">Oops!</h1>
            <p class="lead">We can't seem to find the page you're looking for.</p>
            <p>The page might have been moved or deleted.</p>
            <a href="/" class="btn btn-primary btn-lg mt-3">Return Home</a>
        </div>
    </section>
</body>

</html>
